.custom-bg{
    background-color: #009999;
}
.custom-bg .navbar-collapse .navbar-nav .nav-item a{
    color: white!important;
}
.custom-bg .navbar-brand{
    color: white!important;
}
.custom-bg .navbar-collapse .navbar-nav .nav-item.active{
    background-color: #007F80!important;
    border-radius: 8px;
}
.custom-bg .navbar-collapse .navbar-nav .nav-item .nav-link{
    padding: .5rem .65rem;
}
.custom-bg .navbar-collapse .navbar-nav .nav-item .nav-link a{
    cursor: pointer;
}
.custom-bg .navbar-collapse .navbar-nav .nav-item .dropdown-menu{
    background-color: #009999!important;
} 
.custom-bg .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: #007F80!important;
}
.btn-outline-custom{
    background-color: transparent;
    color:white;
    font-weight: lighter;
}
.btn-outline-custom:hover{
    background-color: #007F80!important;
    color:white;
}
.custom-form-tm{
    margin-top: 5em;
}
.form-signin .form-group{
    padding: 15px;
    background-color: #F2F4F6;
    border-radius: 5px;
}
.form-signin .form-group input.form-control{
    border: none;
    background-color: transparent;
}
.form-signin .form-group label{
    font-weight: 500;
}
.custom-input{
    position: relative;
    display: block;
    padding-left: 30px;
}
.custom-input span{
    position: absolute;
    left: 8px;
    top: 10px;
    font-size: 22px;
}
.custom-input input:focus{
    box-shadow: inset 0 -1px 0 #ddd;
}
.custom-ul{
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom-ul li{
    padding: 2px 0;
}
.custom-ul li a:hover{
    text-decoration: none;
}
.custom-ul li a{
    color: #000;
}
.custom-content-title{
    margin-top: 1em;
    margin-bottom: 1em;
}
.custom-img-con{
    width: 150px;
    height: 150px;
}
.custom-img{
    width: 100%;
    max-height: 100%;
    padding: 5px;;
    background-position: center;
    border: none!important;
    box-sizing: border-box;
}
.custom-search{
    border-radius: 15px;
    font-size: 16px;
    position: relative;
    width: 100%!important;
}
.custom-search .fa{
    font-size: 32px;
    position: absolute;
    top: 4px;
    left: 8px;
    z-index: 10;
}
.custom-search input[type="text"]{
    padding-left: 42px;
    border-top-left-radius: 18px!important;
    border-bottom-left-radius: 18px!important;
}
.custom-search button{
    border-top-right-radius: 18px!important;
    border-bottom-right-radius: 18px!important;
    padding: 2px 15px;
}
.custom-card img{
    max-width: 180px;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-error-header{
    font-size: 5rem;
}
.custom-card .custom-img-container{
    min-height: 200px;
    position: relative;
}
.hide{
    display: none;
}
.alert-full{
    display: block;
    max-width: 100%!important;
}